body {
  background: #f5d9d5;
  font-size: "Nunito", sans-serif;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 200;
}
#mainNavbar .nav-link {
  color: white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
  font-size: 1.5rem;
}

#headingGroup h1 {
  color: white;
  font-weight: 100;
  font-size: 4rem;
}

#headingGroup span {
  color: #ea1c2c;
}

@media (max-width: 1200px) {
  #headingGroup h1 {
    font-weight: 100;
    font-size: 3rem;
  }
}
